body { 
    font-family: Arial, Helvetica, sans-serif ;
    background-color: aliceblue;
    text-align: center;}
/* Using inheritance to effect all child elements */
header, footer{
    text-align: center;}
    footer {background-color: yellow;
    color:darkgreen;
font-size: 18px}
 header{
    background-color: yellow;
}

.content-wrapper {padding: 10px 30px}

.padding {
    padding: 18px;}

    .wrapper{
        width: 80%;
        margin: auto;
    }
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
main p {
    font-size: 18px;}
    main sup {
        font-size: 18px;}

h3 {
    font-size: 18px;} 
    q, em {font-size: 18px}
    h3, p {font-size: 18px;}

    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;}

main :nth-child(1){
    font-weight: bold;
}

li > a {color:darkblue}
/* selects any <a> that has been visited*/
a:visited {color:green}