/* bg color in case pixture breaks */
header h1 {
    font-size: 2rem;
    position: absolute;
}

.wrapper {
    width: 1000px;
    margin: auto;}

header p {
    /*font-size 2em*/ /* 16 * 1.5 *2 */
    font-size: 2rem;}

nav ul {
    /* makes list item go into a row */
    display: inline;
    margin-left: 10px;
list-style-type: none;
padding: 0;}

nav ul li {display: inline-block;
margin-right: 20px;
padding: 20px;}
 

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:lightblue;}
    .padding {padding: 20px;}
    body p {
        font-size: 18px;
        line-height: 1.5;
        /*font-weight: normal*/}
html {font-size: 18px}

.float h2 {
    float: left;
    width: 50%;}

footer { padding: 20px}
