.wrapper {
    width: 1000px;
    margin: auto;
    background-color: white;
}

.fa-magnifying-glass {
    background-color: #222;
    color: #c78c06;
    border: 1px solid#c78c06;
}
body {
font-family: 'Montserrat', sans-serif;
}

.content {
    width: 1000px;
    margin: auto;
}

nav ul {
	/* makes list item go into a row */
	display: flex;
	margin-left: 10px 0;
	list-style-type: none;
	padding: 0;
	text-align: center;
}

a {
	text-decoration: none;
    color:#c78c06;
}


.header {
    width: 1000px;
    position: relative;
    background: #222;
}



/* Container holding the image and the text */
.container {
    max-width: 1200px;
    text-align: left;
    position: relative;
}

.text-block {
    position: relative;
    width: 1200px;
    bottom: 250px;
    right: 0px;
    background-color:#222;
    color: white;
    box-sizing: border-box;
}

input [type=button] {
    border: 1px solid #c78c06;

}

input {
    height: 20px;
}

h1 {
    font-size: 2rem;
    font-weight: bolder;
}

iframe {
    border: 0;
    width: 50%;
    height: 500px;
}

.parent {
    display: flex;
    flex-direction: row;
    background-color:#ffe6ac;
}

table {
    border: 1px solid;
    background-color: white;
}

table th {
    background-color: #ffe6ac;
    font-weight:100;
}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    padding: 20px;
}

footer {
    background-color:#222;
}

footer p {
    color:#c78c06;
}


/* mobile width */
@media screen and (min-width: 760px) {
/* Styles applied for minimum width of 760px and over */


}