.wrapper {
    margin: auto;
}

.fa-magnifying-glass {
    background-color: #222;
    color: #c78c06;
}
body {
font-family: 'Montserrat', sans-serif;
}

li {
    list-style-type: none;
}
.container {
    position: relative;
    background: #222;
}